Cooking — Master.json
{"updatedAt":"2026-06-28T15:50:21.021Z","createdAt":"2026-06-28T15:50:21.021Z","id":"ZbRaldRsY68GmpgJ","name":"Cooking — Master","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cooking-master","responseMode":"onReceived","options":{}},"id":"node-01","name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"cooking-master"},{"parameters":{"jsCode":"const body = $input.first().json.body ?? $input.first().json;\nconst text = String(body.message?.text ?? body.text ?? '').trim();\n\nconst isUrl = /^https?:\\/\\//i.test(text);\nconst inputType = isUrl ? 'url' : 'dish_name';\n\n// Generate scriptId\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n}).formatToParts(now);\nconst dp = Object.fromEntries(parts.map(p => [p.type, p.value]));\nconst ms = String(now.getMilliseconds()).padStart(3,'0');\nconst scriptId = `cooking_${dp.year}-${dp.month}-${dp.day}T${dp.hour}-${dp.minute}-${dp.second}-${ms}Z`;\n\nreturn [{ json: { scriptId, inputType, inputValue: text } }];"},"id":"node-02","name":"Parse Trigger Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,300]},{"parameters":{"chatId":"-1003735970138","text":"=✅ Rezept empfangen: {{ $json.inputValue }}\n\nScript ID: {{ $json.scriptId }}\nStarte Pipeline...","additionalFields":{}},"id":"node-03","name":"Confirm Receipt","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"2164f017-bffd-4548-b55a-657716b9c680"},{"parameters":{"workflowId":{"__rl":true,"value":"B2BrjjbqFhUgeHZV","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-04","name":"Call A1 — Recipe Intake","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[840,300],"retryOnFail":true,"maxTries":3},{"parameters":{"workflowId":{"__rl":true,"value":"9QSE0w8qgSWdlzSK","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-05","name":"Call A2 — Drehbuch Generator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1120,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"M6FzHQY3YG7zxjjC","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-06","name":"Call A3 — Voice + Image Generator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1400,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"yndJdfRoRIJbvTLC","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-07","name":"Call A4 — Kling AI Animator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1680,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"YRKcfHEK5qcZ3wUO","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-08","name":"Call A5 — Video Renderer","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1960,300],"retryOnFail":true,"maxTries":2},{"parameters":{"jsCode":"const output = $input.first().json;\nconst recipeName = output.recipeName ?? output.recipe_name ?? 'Unser Rezept';\nconst s3Url = output.s3_url ?? '';\nconst scriptId = output.scriptId ?? '';\nreturn [{ json: { recipeName, s3Url, scriptId } }];"},"id":"node-09","name":"Extract Recipe Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,300]},{"parameters":{"chatId":"-1003735970138","text":"=📱 Instagram Caption\n\n{{ $json.recipeName }} – so einfach und so lecker!\n\nSchritt für Schritt zeigen wir dir, wie du dieses Gericht zu Hause nachkochst. 🍽️\n\n#cooking #foodie #rezept #kochen #foodvideo #homecooking #lecker #einfachkochen #deutscheküche #foodlover","additionalFields":{}},"id":"node-10","name":"Send Instagram Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,100],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"1ee8d8f0-b23a-474f-8bd8-44303ec1ddc9"},{"parameters":{"chatId":"-1003735970138","text":"=🎵 TikTok Caption\n\n{{ $json.recipeName }} in unter 90 Sekunden 🔥\n\n#kochen #rezept #foodtok #viral #cooking #lecker #fyp #foryou #deutschtiktok","additionalFields":{}},"id":"node-11","name":"Send TikTok Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"9e61fe41-70d5-4439-b6da-5b7a1e378630"},{"parameters":{"chatId":"-1003735970138","text":"=▶️ YouTube Shorts Caption\n\n{{ $json.recipeName }} – Das schnellste Rezept der Woche!\n\n#Shorts #Kochen #Rezept #EinfachKochen #Foodie","additionalFields":{}},"id":"node-12","name":"Send YouTube Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,500],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"86cb9159-970b-4430-81a5-cc3a67f26dc1"},{"parameters":{"chatId":"-1003735970138","text":"=✅ Pipeline abgeschlossen!\n\n🎬 {{ $('Extract Recipe Name').item.json.recipeName }}\n📦 S3: {{ $('Extract Recipe Name').item.json.s3Url }}\n🆔 {{ $('Extract Recipe Name').item.json.scriptId }}","additionalFields":{}},"id":"node-13","name":"Pipeline Complete","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"3122d33f-ea3b-4ada-93da-888692374b4e"},{"parameters":{"chatId":"-1003735970138","text":"=❌ Pipeline Fehler bei: {{ $json.recipeName ?? \"unbekannt\" }}\nFehler: {{ $json.error?.message ?? \"Unbekannter Fehler\" }}\nScript ID: {{ $json.scriptId ?? \"N/A\" }}","additionalFields":{}},"id":"node-14","name":"Send Error Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1400,560],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"b6bad294-65bc-4729-b36a-7009af983bd0"}],"connections":{"Telegram Webhook":{"main":[[{"node":"Parse Trigger Input","type":"main","index":0}]]},"Parse Trigger Input":{"main":[[{"node":"Confirm Receipt","type":"main","index":0}]]},"Confirm Receipt":{"main":[[{"node":"Call A1 — Recipe Intake","type":"main","index":0}]]},"Call A1 — Recipe Intake":{"main":[[{"node":"Call A2 — Drehbuch Generator","type":"main","index":0}]]},"Call A2 — Drehbuch Generator":{"main":[[{"node":"Call A3 — Voice + Image Generator","type":"main","index":0}]]},"Call A3 — Voice + Image Generator":{"main":[[{"node":"Call A4 — Kling AI Animator","type":"main","index":0}]]},"Call A4 — Kling AI Animator":{"main":[[{"node":"Call A5 — Video Renderer","type":"main","index":0}]]},"Call A5 — Video Renderer":{"main":[[{"node":"Extract Recipe Name","type":"main","index":0}]]},"Extract Recipe Name":{"main":[[{"node":"Send Instagram Caption","type":"main","index":0},{"node":"Send TikTok Caption","type":"main","index":0},{"node":"Send YouTube Caption","type":"main","index":0},{"node":"Pipeline Complete","type":"main","index":0}]]},"Send Instagram Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]},"Send TikTok Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]},"Send YouTube Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":""},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"b47e5a95-2bfa-431c-8943-6e99837f4bc9","activeVersionId":"b47e5a95-2bfa-431c-8943-6e99837f4bc9","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-28T15:50:21.023Z","createdAt":"2026-06-28T15:50:21.023Z","role":"workflow:owner","workflowId":"ZbRaldRsY68GmpgJ","projectId":"qK5OY1dAlcpuaDcJ","project":{"updatedAt":"2025-08-24T15:22:22.446Z","createdAt":"2025-08-24T15:22:19.788Z","id":"qK5OY1dAlcpuaDcJ","name":"Tamir Mubarak <tamir.mubarak@yahoo.de>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"cb94183f-eb2d-4fa9-b635-cd943ba64ddc"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-28T15:50:21.024Z","createdAt":"2026-06-28T15:50:21.024Z","versionId":"b47e5a95-2bfa-431c-8943-6e99837f4bc9","workflowId":"ZbRaldRsY68GmpgJ","nodes":[{"parameters":{"httpMethod":"POST","path":"cooking-master","responseMode":"onReceived","options":{}},"id":"node-01","name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"cooking-master"},{"parameters":{"jsCode":"const body = $input.first().json.body ?? $input.first().json;\nconst text = String(body.message?.text ?? body.text ?? '').trim();\n\nconst isUrl = /^https?:\\/\\//i.test(text);\nconst inputType = isUrl ? 'url' : 'dish_name';\n\n// Generate scriptId\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n}).formatToParts(now);\nconst dp = Object.fromEntries(parts.map(p => [p.type, p.value]));\nconst ms = String(now.getMilliseconds()).padStart(3,'0');\nconst scriptId = `cooking_${dp.year}-${dp.month}-${dp.day}T${dp.hour}-${dp.minute}-${dp.second}-${ms}Z`;\n\nreturn [{ json: { scriptId, inputType, inputValue: text } }];"},"id":"node-02","name":"Parse Trigger Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,300]},{"parameters":{"chatId":"-1003735970138","text":"=✅ Rezept empfangen: {{ $json.inputValue }}\n\nScript ID: {{ $json.scriptId }}\nStarte Pipeline...","additionalFields":{}},"id":"node-03","name":"Confirm Receipt","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"2164f017-bffd-4548-b55a-657716b9c680"},{"parameters":{"workflowId":{"__rl":true,"value":"B2BrjjbqFhUgeHZV","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-04","name":"Call A1 — Recipe Intake","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[840,300],"retryOnFail":true,"maxTries":3},{"parameters":{"workflowId":{"__rl":true,"value":"9QSE0w8qgSWdlzSK","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-05","name":"Call A2 — Drehbuch Generator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1120,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"M6FzHQY3YG7zxjjC","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-06","name":"Call A3 — Voice + Image Generator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1400,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"yndJdfRoRIJbvTLC","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-07","name":"Call A4 — Kling AI Animator","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1680,300],"retryOnFail":true,"maxTries":2},{"parameters":{"workflowId":{"__rl":true,"value":"YRKcfHEK5qcZ3wUO","mode":"id"},"workflowInputs":{"mappingMode":"passthrough"},"options":{"waitForSubWorkflow":true}},"id":"node-08","name":"Call A5 — Video Renderer","type":"n8n-nodes-base.executeWorkflow","typeVersion":2,"position":[1960,300],"retryOnFail":true,"maxTries":2},{"parameters":{"jsCode":"const output = $input.first().json;\nconst recipeName = output.recipeName ?? output.recipe_name ?? 'Unser Rezept';\nconst s3Url = output.s3_url ?? '';\nconst scriptId = output.scriptId ?? '';\nreturn [{ json: { recipeName, s3Url, scriptId } }];"},"id":"node-09","name":"Extract Recipe Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,300]},{"parameters":{"chatId":"-1003735970138","text":"=📱 Instagram Caption\n\n{{ $json.recipeName }} – so einfach und so lecker!\n\nSchritt für Schritt zeigen wir dir, wie du dieses Gericht zu Hause nachkochst. 🍽️\n\n#cooking #foodie #rezept #kochen #foodvideo #homecooking #lecker #einfachkochen #deutscheküche #foodlover","additionalFields":{}},"id":"node-10","name":"Send Instagram Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,100],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"1ee8d8f0-b23a-474f-8bd8-44303ec1ddc9"},{"parameters":{"chatId":"-1003735970138","text":"=🎵 TikTok Caption\n\n{{ $json.recipeName }} in unter 90 Sekunden 🔥\n\n#kochen #rezept #foodtok #viral #cooking #lecker #fyp #foryou #deutschtiktok","additionalFields":{}},"id":"node-11","name":"Send TikTok Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"9e61fe41-70d5-4439-b6da-5b7a1e378630"},{"parameters":{"chatId":"-1003735970138","text":"=▶️ YouTube Shorts Caption\n\n{{ $json.recipeName }} – Das schnellste Rezept der Woche!\n\n#Shorts #Kochen #Rezept #EinfachKochen #Foodie","additionalFields":{}},"id":"node-12","name":"Send YouTube Caption","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,500],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"86cb9159-970b-4430-81a5-cc3a67f26dc1"},{"parameters":{"chatId":"-1003735970138","text":"=✅ Pipeline abgeschlossen!\n\n🎬 {{ $('Extract Recipe Name').item.json.recipeName }}\n📦 S3: {{ $('Extract Recipe Name').item.json.s3Url }}\n🆔 {{ $('Extract Recipe Name').item.json.scriptId }}","additionalFields":{}},"id":"node-13","name":"Pipeline Complete","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,300],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"3122d33f-ea3b-4ada-93da-888692374b4e"},{"parameters":{"chatId":"-1003735970138","text":"=❌ Pipeline Fehler bei: {{ $json.recipeName ?? \"unbekannt\" }}\nFehler: {{ $json.error?.message ?? \"Unbekannter Fehler\" }}\nScript ID: {{ $json.scriptId ?? \"N/A\" }}","additionalFields":{}},"id":"node-14","name":"Send Error Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1400,560],"credentials":{"telegramApi":{"id":"XSt2NLTZQtZZSEYL","name":"Telegram account"}},"webhookId":"b6bad294-65bc-4729-b36a-7009af983bd0"}],"connections":{"Telegram Webhook":{"main":[[{"node":"Parse Trigger Input","type":"main","index":0}]]},"Parse Trigger Input":{"main":[[{"node":"Confirm Receipt","type":"main","index":0}]]},"Confirm Receipt":{"main":[[{"node":"Call A1 — Recipe Intake","type":"main","index":0}]]},"Call A1 — Recipe Intake":{"main":[[{"node":"Call A2 — Drehbuch Generator","type":"main","index":0}]]},"Call A2 — Drehbuch Generator":{"main":[[{"node":"Call A3 — Voice + Image Generator","type":"main","index":0}]]},"Call A3 — Voice + Image Generator":{"main":[[{"node":"Call A4 — Kling AI Animator","type":"main","index":0}]]},"Call A4 — Kling AI Animator":{"main":[[{"node":"Call A5 — Video Renderer","type":"main","index":0}]]},"Call A5 — Video Renderer":{"main":[[{"node":"Extract Recipe Name","type":"main","index":0}]]},"Extract Recipe Name":{"main":[[{"node":"Send Instagram Caption","type":"main","index":0},{"node":"Send TikTok Caption","type":"main","index":0},{"node":"Send YouTube Caption","type":"main","index":0},{"node":"Pipeline Complete","type":"main","index":0}]]},"Send Instagram Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]},"Send TikTok Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]},"Send YouTube Caption":{"main":[[{"node":"Pipeline Complete","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Tamir Mubarak","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-28T15:54:39.310Z","id":159,"workflowId":"ZbRaldRsY68GmpgJ","versionId":"b47e5a95-2bfa-431c-8943-6e99837f4bc9","event":"activated","userId":"cb94183f-eb2d-4fa9-b635-cd943ba64ddc"}]}}