Cooking — Drehbuch Generator.json
{"updatedAt":"2026-06-28T15:02:50.063Z","createdAt":"2026-06-28T15:02:50.063Z","id":"9QSE0w8qgSWdlzSK","name":"Cooking — Drehbuch Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"node-trigger","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst scriptId = input.scriptId ?? 'cooking_test';\nconst recipe = input.recipe ?? input; // fallback if passed flat\n\nconst ingredientsList = (recipe.ingredients ?? []).join('\\n- ');\nconst stepsList = (recipe.steps ?? []).map((s, i) => `${i+1}. ${s}`).join('\\n');\n\nconst recipeText = `Rezeptname: ${recipe.name ?? 'Unbekannt'}\nPortionen: ${recipe.servings ?? 2}\nVorbereitungszeit: ${recipe.prepTime ?? 'unbekannt'}\nKochzeit: ${recipe.cookTime ?? 'unbekannt'}\n\nZUTATEN:\n- ${ingredientsList}\n\nZUBEREITUNG:\n${stepsList}`;\n\nreturn [{ json: { scriptId, recipe_name: recipe.name ?? 'Unbekannt', recipe_text: recipeText } }];"},"id":"node-prepare","name":"Prepare Recipe Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,300]},{"parameters":{"model":"gpt-4.1","options":{}},"id":"node-openai","name":"OpenAI GPT-5","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[880,480],"credentials":{"openAiApi":{"id":"v5ycd3YeDhUfrhQ2","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"You are the AI FOOD STUDIO v1.0 — a complete Hollywood food production studio combining 8 roles: Executive Producer, Film Director, Director of Photography, Food Stylist, Kling AI Prompt Engineer, Video Editor, Continuity Manager, and Brand Manager.\n\nTHE CHARACTER — EMMA (NEVER CHANGE ACROSS ANY CLIP):\n- Name: Emma, Age: 28, Female, European appearance\n- Shoulder-length brown hair, loose low ponytail, natural skin, light makeup, warm smile\n- White premium cotton shirt, beige linen apron, blue jeans, white sneakers\n- No tattoos, no piercings, no watch, no rings, short clean fingernails\n\nTHE KITCHEN (NEVER CHANGE):\n- Modern Scandinavian Kitchen: white matte cabinets, light oak countertop, large window left side\n- Soft daylight, grey stone backsplash, black induction stove, built-in oven\n- White ceramic bowls, olive wood cutting boards, black cooking utensils, very clean\n\nLIGHTING (ALWAYS): Soft natural daylight, warm cinematic lighting, soft shadows, golden highlights\n\n5-ACT DRAMATIC STRUCTURE:\n- Act 1 HOOK (0–5s): Hero shot of finished dish — make viewer hungry immediately\n- Act 2 PREP (5–25s): Ingredients, washing, cutting — calm short cuts\n- Act 3 COOKING (25–60s): Heat, sizzle, stir, steam, spices — most exciting part\n- Act 4 PLATING (60–75s): Slow elegant movements, beautiful plate, decoration\n- Act 5 BEAUTY SHOTS (75–90s): Slow camera move, macro, steam, cross-section, final hero\n\nCLIP RULES:\n- ONE action per clip — never two\n- Duration: normal 4–5s, beautiful scenes 6s, dynamic 3–4s\n- Camera angles MUST rotate — never use same angle two clips in a row\n- Camera rotation order: Close-up → Top-down → Side View → Macro → POV → 45° → Wide Shot → repeat\n- Add B-Roll automatically if total duration < 60s\n\nRECIPE COMPLETENESS RULE (CRITICAL):\n- Every single step in the provided recipe MUST appear as at least one clip\n- Missing steps = invalid output — add clips until all steps are covered\n- If recipe has many steps, generate as many clips as needed (no maximum)\n\nKLING PROMPT ARCHITECTURE — every prompt must have ALL 13 blocks in order:\n1. \"Emma from Project Bible. Scandinavian Kitchen from Project Bible. Keep clothing, hairstyle, lighting, kitchen identical.\"\n2. SCENE: exactly one action described\n3. FOOD DETAILS: fresh, vibrant colors, natural moisture, high texture detail\n4. HAND MOVEMENT: realistic finger movement, natural grip, professional technique\n5. CAMERA: angle + movement\n6. LENS: 35mm / 50mm / 85mm / 100mm Macro\n7. FOCUS: sharp focus on subject, shallow depth of field, creamy background blur\n8. LIGHT: Soft natural daylight, warm cinematic lighting, realistic shadows, golden highlights\n9. ATMOSPHERE: gentle steam / oil reflections / natural kitchen ambience\n10. VIDEO STYLE: Ultra realistic, photorealistic, luxury food commercial, Netflix documentary quality, 8K\n11. CONTINUITY: exact state of ingredients, tools, and kitchen at end of this clip\n12. TRANSITION: how this clip ends and where the next begins\n13. NEGATIVE PROMPT: low quality, blurry, watermark, logo, text, cartoon, anime, CGI, plastic skin, deformed hands, extra fingers, duplicate ingredients, floating objects, morphing, artifacts, camera glitches, oversaturated, unnatural lighting\n\nSCENE MEMORY — track after each clip:\n- Which ingredients are processed / remaining\n- Where is the knife / spatula / bowl\n- Which hand is Emma using\n- Current cooking stage and color of food\n\nDURATION CALCULATION RULE (CRITICAL):\n- Calculate total_duration_seconds by SUMMING all clip duration_seconds values\n- Formula: total = clip[0].duration + clip[1].duration + ... + clip[n].duration\n- Never estimate — always compute the actual sum\n- Target: 60–90 seconds total\n\nQUALITY GATE — before outputting, verify:\n☑ total_duration_seconds equals the actual sum of all clip durations\n☑ All recipe steps have at least one clip\n☑ All 5 acts present (hook, prep, cooking, plating, beauty shots)\n☑ No two consecutive clips use the same camera angle\n☑ Every clip has all 13 Kling prompt blocks\n☑ Emma and kitchen are identical in every clip description\n☑ Scene memory is consistent between clips\n\nOUTPUT FORMAT — return ONLY valid JSON, no markdown, no explanation:\n{\n  \"recipe_name\": \"...\",\n  \"total_duration_seconds\": 75,\n  \"total_clips\": 12,\n  \"clips\": [\n    {\n      \"clipIndex\": 0,\n      \"act\": \"hook\",\n      \"duration_seconds\": 5,\n      \"scene_de\": \"...\",\n      \"kling_prompt\": \"...\",\n      \"voiceover_text\": \"...\",\n      \"camera\": \"...\",\n      \"lens\": \"...\",\n      \"continuity_note\": \"...\",\n      \"transition_out\": \"...\"\n    }\n  ],\n  \"cut_plan\": [\n    {\n      \"clip\": 0,\n      \"duration\": 5,\n      \"transition\": \"cut\",\n      \"sound\": \"...\",\n      \"voiceover\": \"...\"\n    }\n  ],\n  \"music_style\": \"...\"\n}\n\nVOICEOVER RULES:\n- German language only\n- 14–20 words per clip\n- Neutral, factual, calm tone\n- One sentence per clip\n- No hype, no predictions\n\nNow analyze this recipe and generate the complete production plan:\n\nRecipe name: ={{ $json.recipe_name }}\n\n={{ $json.recipe_text }}","options":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}},"id":"node-agent","name":"AI Food Studio — Director","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,300]},{"parameters":{"jsCode":"const raw = $input.first().json.output ?? '';\nlet parsed;\n\n// Extract JSON from agent output\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch(e) {\n  return [{ json: { error: 'JSON parse failed', raw_output: raw.slice(0, 500) } }];\n}\n\n// Validate and fix total_duration_seconds\nconst clips = parsed.clips ?? [];\nconst actualTotal = clips.reduce((sum, c) => sum + (Number(c.duration_seconds) || 0), 0);\n\n// Inject scriptId and fix duration\nconst scriptId = $('Prepare Recipe Input').first().json.scriptId;\nparsed.total_duration_seconds = actualTotal;\nparsed.scriptId = scriptId;\n\n// Validation warnings\nconst warnings = [];\nif (actualTotal < 60) warnings.push(`total_duration ${actualTotal}s is below 60s minimum`);\nif (actualTotal > 90) warnings.push(`total_duration ${actualTotal}s exceeds 90s target`);\nif (!clips.some(c => c.act === 'hook')) warnings.push('missing hook act');\nif (!clips.some(c => c.act === 'beauty shots')) warnings.push('missing beauty shots act');\n\nparsed._validation = { warnings, clip_count: clips.length, actual_total_seconds: actualTotal };\n\nreturn [{ json: parsed }];"},"id":"node-validate","name":"Parse & Validate Production Plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Prepare Recipe Input","type":"main","index":0}]]},"Prepare Recipe Input":{"main":[[{"node":"AI Food Studio — Director","type":"main","index":0}]]},"OpenAI GPT-5":{"ai_languageModel":[[{"node":"AI Food Studio — Director","type":"ai_languageModel","index":0}]]},"AI Food Studio — Director":{"main":[[{"node":"Parse & Validate Production Plan","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"4ef8be58-e0cb-48d2-a821-e3a97d76db2d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-28T15:02:50.066Z","createdAt":"2026-06-28T15:02:50.066Z","role":"workflow:owner","workflowId":"9QSE0w8qgSWdlzSK","projectId":"qK5OY1dAlcpuaDcJ","project":{"updatedAt":"2025-08-24T15:22:22.446Z","createdAt":"2025-08-24T15:22:19.788Z","id":"qK5OY1dAlcpuaDcJ","name":"Tamir Mubarak <tamir.mubarak@yahoo.de>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"cb94183f-eb2d-4fa9-b635-cd943ba64ddc"}}],"tags":[],"activeVersion":null}