Cooking — Voice and Image Generator.json
{
    "updatedAt": "2026-06-28T15:17:01.028Z",
    "createdAt": "2026-06-28T15:17:01.028Z",
    "id": "M6FzHQY3YG7zxjjC",
    "name": "Cooking \u2014 Voice and Image Generator",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ],
            "id": "a0000001-0000-0000-0000-000000000001",
            "name": "When Executed by Another Workflow"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst scriptId = input.scriptId;\nconst clips = input.clips ?? [];\n\nif (!scriptId) throw new Error('scriptId missing');\nif (!clips.length) throw new Error('No clips in input');\n\nreturn clips.map(c => ({\n  json: {\n    scriptId,\n    clipIndex: c.clipIndex ?? 0,\n    act: c.act ?? 'clip',\n    voiceover_text: c.voiceover_text ?? '',\n    kling_prompt: c.kling_prompt ?? '',\n    duration_seconds: c.duration_seconds ?? 5,\n    camera: c.camera ?? '',\n    lens: c.lens ?? '',\n    continuity_note: c.continuity_note ?? '',\n    transition_out: c.transition_out ?? '',\n    voiceId: 'TUKJhQmz3RPYBNAgC5A1'\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                300
            ],
            "id": "a0000002-0000-0000-0000-000000000002",
            "name": "Prepare Clips"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                600,
                0
            ],
            "id": "a0000003-0000-0000-0000-000000000003",
            "name": "Loop Audio"
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\nconst scriptId = $json.scriptId;\nconst clipIndex = $json.clipIndex ?? 0;\nconst act = ($json.act ?? 'clip').replace(/[^a-z0-9_]+/gi, '_').toLowerCase();\nconst voiceover_text = $json.voiceover_text ?? '';\nconst voiceId = $json.voiceId ?? '';\n\nconst audioHash = crypto.createHash('sha256')\n  .update(JSON.stringify({ voiceover_text, voiceId }))\n  .digest('hex').slice(0, 12);\n\nconst audioKey = `cooking/${scriptId}/audio/clip_${String(clipIndex).padStart(2,'0')}_${act}__${audioHash}.mp3`;\n\nreturn [{ json: { ...$json, audioHash, audioKey } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                0
            ],
            "id": "a0000004-0000-0000-0000-000000000004",
            "name": "FileKey Audio"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voiceId }}/with-timestamps",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xi-api-key",
                            "value": "sk_80d2398d43bbb43af96129c5f383f41623822823576c5bd9"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"text\": \"{{ $json.voiceover_text }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.6,\n    \"similarity_boost\": 0.8\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1200,
                0
            ],
            "id": "a0000005-0000-0000-0000-000000000005",
            "name": "ElevenLabs TTS"
        },
        {
            "parameters": {
                "jsCode": "const base64 = $input.item.json.audio_base64;\nconst endTimes = $input.item.json.alignment.character_end_times_seconds;\nconst duration = endTimes[endTimes.length - 1] + 0.4;\n\nconst binaryBuffer = Buffer.from(base64, 'base64');\nreturn {\n  json: { duration_seconds: duration },\n  binary: {\n    data: await this.helpers.prepareBinaryData(binaryBuffer, 'audio.mp3', 'audio/mpeg')\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1500,
                0
            ],
            "id": "a0000006-0000-0000-0000-000000000006",
            "name": "Decode Audio"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "reels-voiceovers",
                "fileName": "={{ $('FileKey Audio').item.json.audioKey }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.s3",
            "typeVersion": 1,
            "position": [
                1800,
                0
            ],
            "id": "a0000007-0000-0000-0000-000000000007",
            "name": "Upload Audio",
            "credentials": {
                "s3": {
                    "id": "ARZEQMSLdWqjXadc",
                    "name": "S3 account 2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000001-0000-0000-0000-000000000001",
                            "name": "scriptId",
                            "value": "={{ $('FileKey Audio').item.json.scriptId }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000002-0000-0000-0000-000000000002",
                            "name": "clipIndex",
                            "value": "={{ $('FileKey Audio').item.json.clipIndex }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000003-0000-0000-0000-000000000003",
                            "name": "act",
                            "value": "={{ $('FileKey Audio').item.json.act }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000004-0000-0000-0000-000000000004",
                            "name": "audioKey",
                            "value": "={{ $('FileKey Audio').item.json.audioKey }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000005-0000-0000-0000-000000000005",
                            "name": "duration",
                            "value": "={{ $('Decode Audio').item.json.duration_seconds }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000006-0000-0000-0000-000000000006",
                            "name": "voiceover_text",
                            "value": "={{ $('FileKey Audio').item.json.voiceover_text }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000007-0000-0000-0000-000000000007",
                            "name": "kling_prompt",
                            "value": "={{ $('FileKey Audio').item.json.kling_prompt }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2100,
                0
            ],
            "id": "a0000008-0000-0000-0000-000000000008",
            "name": "Cleanup Audio"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000008-0000-0000-0000-000000000008",
                            "name": "audio_url",
                            "value": "=https://pub-b9cab7c4281d4ca4948989323fa68b5d.r2.dev/{{ $json.audioKey }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2400,
                0
            ],
            "id": "a0000009-0000-0000-0000-000000000009",
            "name": "Audio URL"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all().map(i => i.json).sort((a,b) => a.clipIndex - b.clipIndex);\nreturn [{ json: { scriptId: items[0]?.scriptId, audioClips: items } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2700,
                0
            ],
            "id": "a0000010-0000-0000-0000-000000000010",
            "name": "Collect Audio"
        },
        {
            "parameters": {
                "fieldToSplitOut": "audioClips",
                "include": "selectedOtherFields",
                "fieldsToInclude": "scriptId",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                3000,
                0
            ],
            "id": "a0000011-0000-0000-0000-000000000011",
            "name": "Split Audio Clips"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000009-0000-0000-0000-000000000009",
                            "name": "clipIndex",
                            "value": "={{ $json['audioClips'].clipIndex }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000010-0000-0000-0000-000000000010",
                            "name": "audio_url",
                            "value": "={{ $json['audioClips'].audio_url }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000011-0000-0000-0000-000000000011",
                            "name": "voiceover_text",
                            "value": "={{ $json['audioClips'].voiceover_text }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000012-0000-0000-0000-000000000012",
                            "name": "kling_prompt",
                            "value": "={{ $json['audioClips'].kling_prompt }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000013-0000-0000-0000-000000000013",
                            "name": "duration",
                            "value": "={{ $json['audioClips'].duration }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000014-0000-0000-0000-000000000014",
                            "name": "act",
                            "value": "={{ $json['audioClips'].act }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000015-0000-0000-0000-000000000015",
                            "name": "scriptId",
                            "value": "={{ $json.scriptId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                3300,
                0
            ],
            "id": "a0000012-0000-0000-0000-000000000012",
            "name": "Edit Audio"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                600,
                600
            ],
            "id": "a0000013-0000-0000-0000-000000000013",
            "name": "Loop Image"
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\nconst scriptId = $json.scriptId;\nconst clipIndex = $json.clipIndex ?? 0;\nconst act = ($json.act ?? 'clip').replace(/[^a-z0-9_]+/gi, '_').toLowerCase();\nconst kling_prompt = $json.kling_prompt ?? '';\n\nconst imageHash = crypto.createHash('sha256')\n  .update(JSON.stringify({ kling_prompt }))\n  .digest('hex').slice(0, 12);\n\nconst imageKey = `cooking/${scriptId}/image/clip_${String(clipIndex).padStart(2,'0')}_${act}__${imageHash}.png`;\n\nreturn [{ json: { ...$json, imageHash, imageKey } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                600
            ],
            "id": "a0000014-0000-0000-0000-000000000014",
            "name": "FileKey Image"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/images/generations",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-image-1"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $('FileKey Image').item.json.kling_prompt }}"
                        },
                        {
                            "name": "size",
                            "value": "1024x1536"
                        },
                        {
                            "name": "output_format",
                            "value": "png"
                        },
                        {
                            "name": "quality",
                            "value": "high"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1200,
                600
            ],
            "id": "a0000015-0000-0000-0000-000000000015",
            "name": "Generate Image",
            "credentials": {
                "openAiApi": {
                    "id": "v5ycd3YeDhUfrhQ2",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000016-0000-0000-0000-000000000016",
                            "name": "b64",
                            "value": "={{ $json.data[0].b64_json }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1500,
                600
            ],
            "id": "a0000016-0000-0000-0000-000000000016",
            "name": "Extract b64"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "b64",
                "options": {
                    "fileName": "={{ $('FileKey Image').item.json.imageKey }}"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                1800,
                600
            ],
            "id": "a0000017-0000-0000-0000-000000000017",
            "name": "Convert to File"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "reels-voiceovers",
                "fileName": "={{ $('FileKey Image').item.json.imageKey }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.s3",
            "typeVersion": 1,
            "position": [
                2100,
                600
            ],
            "id": "a0000018-0000-0000-0000-000000000018",
            "name": "Upload Image",
            "credentials": {
                "s3": {
                    "id": "ARZEQMSLdWqjXadc",
                    "name": "S3 account 2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000017-0000-0000-0000-000000000017",
                            "name": "scriptId",
                            "value": "={{ $('FileKey Image').item.json.scriptId }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000018-0000-0000-0000-000000000018",
                            "name": "clipIndex",
                            "value": "={{ $('FileKey Image').item.json.clipIndex }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000019-0000-0000-0000-000000000019",
                            "name": "act",
                            "value": "={{ $('FileKey Image').item.json.act }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000020-0000-0000-0000-000000000020",
                            "name": "imageKey",
                            "value": "={{ $('FileKey Image').item.json.imageKey }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2400,
                600
            ],
            "id": "a0000019-0000-0000-0000-000000000019",
            "name": "Cleanup Image"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000021-0000-0000-0000-000000000021",
                            "name": "image_url",
                            "value": "=https://pub-b9cab7c4281d4ca4948989323fa68b5d.r2.dev/{{ $json.imageKey }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2700,
                600
            ],
            "id": "a0000020-0000-0000-0000-000000000020",
            "name": "Image URL"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all().map(i => i.json).sort((a,b) => a.clipIndex - b.clipIndex);\nreturn [{ json: { scriptId: items[0]?.scriptId, imageClips: items } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3000,
                600
            ],
            "id": "a0000021-0000-0000-0000-000000000021",
            "name": "Collect Image"
        },
        {
            "parameters": {
                "fieldToSplitOut": "imageClips",
                "include": "selectedOtherFields",
                "fieldsToInclude": "scriptId",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                3300,
                600
            ],
            "id": "a0000022-0000-0000-0000-000000000022",
            "name": "Split Image Clips"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b0000022-0000-0000-0000-000000000022",
                            "name": "clipIndex",
                            "value": "={{ $json['imageClips'].clipIndex }}",
                            "type": "number"
                        },
                        {
                            "id": "b0000023-0000-0000-0000-000000000023",
                            "name": "image_url",
                            "value": "={{ $json['imageClips'].image_url }}",
                            "type": "string"
                        },
                        {
                            "id": "b0000024-0000-0000-0000-000000000024",
                            "name": "scriptId",
                            "value": "={{ $json.scriptId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                3600,
                600
            ],
            "id": "a0000023-0000-0000-0000-000000000023",
            "name": "Edit Image"
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "clipIndex",
                            "field2": "clipIndex"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                3900,
                300
            ],
            "id": "a0000024-0000-0000-0000-000000000024",
            "name": "Merge Audio + Image"
        }
    ],
    "connections": {
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Prepare Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Clips": {
            "main": [
                [
                    {
                        "node": "Loop Audio",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Loop Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Audio": {
            "main": [
                [
                    {
                        "node": "Collect Audio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FileKey Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FileKey Audio": {
            "main": [
                [
                    {
                        "node": "ElevenLabs TTS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ElevenLabs TTS": {
            "main": [
                [
                    {
                        "node": "Decode Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Decode Audio": {
            "main": [
                [
                    {
                        "node": "Upload Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Audio": {
            "main": [
                [
                    {
                        "node": "Cleanup Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cleanup Audio": {
            "main": [
                [
                    {
                        "node": "Audio URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audio URL": {
            "main": [
                [
                    {
                        "node": "Loop Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Audio": {
            "main": [
                [
                    {
                        "node": "Split Audio Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Audio Clips": {
            "main": [
                [
                    {
                        "node": "Edit Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Audio": {
            "main": [
                [
                    {
                        "node": "Merge Audio + Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Image": {
            "main": [
                [
                    {
                        "node": "Collect Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FileKey Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FileKey Image": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Extract b64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract b64": {
            "main": [
                [
                    {
                        "node": "Convert to File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File": {
            "main": [
                [
                    {
                        "node": "Upload Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Image": {
            "main": [
                [
                    {
                        "node": "Cleanup Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cleanup Image": {
            "main": [
                [
                    {
                        "node": "Image URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Image URL": {
            "main": [
                [
                    {
                        "node": "Loop Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Image": {
            "main": [
                [
                    {
                        "node": "Split Image Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Image Clips": {
            "main": [
                [
                    {
                        "node": "Edit Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Image": {
            "main": [
                [
                    {
                        "node": "Merge Audio + Image",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Audio + Image": {
            "main": [
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "ad6c938c-d4fd-4969-89b5-47e461dfc824",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "sourceWorkflowId": null,
    "shared": [
        {
            "updatedAt": "2026-06-28T15:17:01.030Z",
            "createdAt": "2026-06-28T15:17:01.030Z",
            "role": "workflow:owner",
            "workflowId": "M6FzHQY3YG7zxjjC",
            "projectId": "qK5OY1dAlcpuaDcJ",
            "project": {
                "updatedAt": "2025-08-24T15:22:22.446Z",
                "createdAt": "2025-08-24T15:22:19.788Z",
                "id": "qK5OY1dAlcpuaDcJ",
                "name": "Tamir Mubarak <tamir.mubarak@yahoo.de>",
                "type": "personal",
                "icon": null,
                "description": null,
                "customTelemetryTags": [],
                "creatorId": "cb94183f-eb2d-4fa9-b635-cd943ba64ddc"
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
