Cooking — Master.json
{
  "updatedAt": "2026-06-28T16:41:08.838Z",
  "createdAt": "2026-06-28T15:50:21.021Z",
  "id": "ZbRaldRsY68GmpgJ",
  "name": "Cooking \u2014 Master",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cooking-master",
        "options": {}
      },
      "id": "node-01",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        336
      ],
      "webhookId": "cooking-master"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body ?? $input.first().json;\nconst text = String(body.message?.text ?? body.text ?? '').trim();\nconst chatId = String(body.message?.chat?.id ?? body.chat?.id ?? '-1003735970138');\n\nconst isUrl = /^https?:\\/\\//i.test(text);\nconst inputType = isUrl ? 'url' : 'dish_name';\n\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n}).formatToParts(now);\nconst dp = Object.fromEntries(parts.map(p => [p.type, p.value]));\nconst ms = String(now.getMilliseconds()).padStart(3,'0');\nconst scriptId = `cooking_${dp.year}-${dp.month}-${dp.day}T${dp.hour}-${dp.minute}-${dp.second}-${ms}Z`;\n\nreturn [{ json: { scriptId, inputType, inputValue: text, chatId } }];\n"
      },
      "id": "node-02",
      "name": "Parse Trigger Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Trigger Input').item.json.chatId }}",
        "text": "=\u2705 Rezept empfangen: {{ $('Parse Trigger Input').item.json.inputValue }}\n\nScript ID: {{ $('Parse Trigger Input').item.json.scriptId }}\nStarte Pipeline... (dauert ~10-15 Min)",
        "additionalFields": {}
      },
      "id": "node-03",
      "name": "Confirm Receipt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        336
      ],
      "webhookId": "2164f017-bffd-4548-b55a-657716b9c680",
      "credentials": {
        "telegramApi": {
          "id": "XSt2NLTZQtZZSEYL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst recipeName = output.recipeName ?? output.recipe_name ?? 'Unser Rezept';\nconst s3Url = output.s3_url ?? '';\nconst scriptId = output.scriptId ?? '';\nreturn [{ json: { recipeName, s3Url, scriptId } }];"
      },
      "id": "node-09",
      "name": "Extract Recipe Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "-1003735970138",
        "text": "=\ud83d\udcf1 Instagram Caption\n\n{{ $json.recipeName }} \u2013 so einfach und so lecker!\n\nSchritt f\u00fcr Schritt zeigen wir dir, wie du dieses Gericht zu Hause nachkochst. \ud83c\udf7d\ufe0f\n\n#cooking #foodie #rezept #kochen #foodvideo #homecooking #lecker #einfachkochen #deutschek\u00fcche #foodlover",
        "additionalFields": {}
      },
      "id": "node-10",
      "name": "Send Instagram Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        112
      ],
      "webhookId": "1ee8d8f0-b23a-474f-8bd8-44303ec1ddc9",
      "credentials": {
        "telegramApi": {
          "id": "XSt2NLTZQtZZSEYL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003735970138",
        "text": "=\ud83c\udfb5 TikTok Caption\n\n{{ $json.recipeName }} in unter 90 Sekunden \ud83d\udd25\n\n#kochen #rezept #foodtok #viral #cooking #lecker #fyp #foryou #deutschtiktok",
        "additionalFields": {}
      },
      "id": "node-11",
      "name": "Send TikTok Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        304
      ],
      "webhookId": "9e61fe41-70d5-4439-b6da-5b7a1e378630",
      "credentials": {
        "telegramApi": {
          "id": "XSt2NLTZQtZZSEYL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003735970138",
        "text": "=\u25b6\ufe0f YouTube Shorts Caption\n\n{{ $json.recipeName }} \u2013 Das schnellste Rezept der Woche!\n\n#Shorts #Kochen #Rezept #EinfachKochen #Foodie",
        "additionalFields": {}
      },
      "id": "node-12",
      "name": "Send YouTube Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        512
      ],
      "webhookId": "86cb9159-970b-4430-81a5-cc3a67f26dc1",
      "credentials": {
        "telegramApi": {
          "id": "XSt2NLTZQtZZSEYL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Recipe Name').item.json.chatId ?? '-1003735970138' }}",
        "text": "=\u2705 Pipeline abgeschlossen!\n\n\ud83c\udfac {{ $('Extract Recipe Name').item.json.recipeName }}\n\ud83d\udce6 S3: {{ $('Extract Recipe Name').item.json.s3Url }}\n\ud83c\udd94 {{ $('Extract Recipe Name').item.json.scriptId }}",
        "additionalFields": {}
      },
      "id": "node-13",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        304
      ],
      "webhookId": "3122d33f-ea3b-4ada-93da-888692374b4e",
      "credentials": {
        "telegramApi": {
          "id": "XSt2NLTZQtZZSEYL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B2BrjjbqFhUgeHZV",
          "mode": "list",
          "cachedResultUrl": "/workflow/B2BrjjbqFhUgeHZV",
          "cachedResultName": "Cooking \u2014 Recipe Intake"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        336
      ],
      "id": "a7508137-4a3f-4815-aad3-16e4d7576b92",
      "name": "Call 'Cooking \u2014 Recipe Intake'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9QSE0w8qgSWdlzSK",
          "mode": "list",
          "cachedResultUrl": "/workflow/9QSE0w8qgSWdlzSK",
          "cachedResultName": "Cooking \u2014 Drehbuch Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        320
      ],
      "id": "3ec4d1b1-2c97-4f29-bc1a-a57784c050d0",
      "name": "Call 'Cooking \u2014 Drehbuch Generator'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "M6FzHQY3YG7zxjjC",
          "mode": "list",
          "cachedResultUrl": "/workflow/M6FzHQY3YG7zxjjC",
          "cachedResultName": "Cooking \u2014 Voice and Image Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        320
      ],
      "id": "ee5166a5-69cd-4680-a291-3e4c89f60bcd",
      "name": "Call 'Cooking \u2014 Voice and Image Generator'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yndJdfRoRIJbvTLC",
          "mode": "list",
          "cachedResultUrl": "/workflow/yndJdfRoRIJbvTLC",
          "cachedResultName": "Cooking \u2014 Kling AI Animator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        320
      ],
      "id": "7c5265bb-59d7-445e-921a-aaa8ac41b10b",
      "name": "Call 'Cooking \u2014 Kling AI Animator'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YRKcfHEK5qcZ3wUO",
          "mode": "list",
          "cachedResultUrl": "/workflow/YRKcfHEK5qcZ3wUO",
          "cachedResultName": "Cooking \u2014 Video Renderer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1856,
        304
      ],
      "id": "a1cd064b-87b3-4c40-bbbd-ff565dbe2a46",
      "name": "Call 'Cooking \u2014 Video Renderer'"
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Trigger Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Trigger Input": {
      "main": [
        [
          {
            "node": "Confirm Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Receipt": {
      "main": [
        [
          {
            "node": "Call 'Cooking \u2014 Recipe Intake'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Recipe Name": {
      "main": [
        [
          {
            "node": "Send Instagram Caption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send TikTok Caption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send YouTube Caption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Caption": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send TikTok Caption": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send YouTube Caption": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Cooking \u2014 Recipe Intake'": {
      "main": [
        [
          {
            "node": "Call 'Cooking \u2014 Drehbuch Generator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Cooking \u2014 Drehbuch Generator'": {
      "main": [
        [
          {
            "node": "Call 'Cooking \u2014 Voice and Image Generator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Cooking \u2014 Voice and Image Generator'": {
      "main": [
        [
          {
            "node": "Call 'Cooking \u2014 Kling AI Animator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Cooking \u2014 Kling AI Animator'": {
      "main": [
        []
      ]
    },
    "Call 'Cooking \u2014 Video Renderer'": {
      "main": [
        [
          {
            "node": "Extract Recipe Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bCRPcgcAvzFMvf7j",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "cbee3480-2908-42ab-8ba9-2463bb153787",
  "activeVersionId": "cbee3480-2908-42ab-8ba9-2463bb153787",
  "versionCounter": 28,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-28T15:50:21.023Z",
      "createdAt": "2026-06-28T15:50:21.023Z",
      "role": "workflow:owner",
      "workflowId": "ZbRaldRsY68GmpgJ",
      "projectId": "qK5OY1dAlcpuaDcJ",
      "project": {
        "updatedAt": "2025-08-24T15:22:22.446Z",
        "createdAt": "2025-08-24T15:22:19.788Z",
        "id": "qK5OY1dAlcpuaDcJ",
        "name": "Tamir Mubarak <tamir.mubarak@yahoo.de>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "cb94183f-eb2d-4fa9-b635-cd943ba64ddc"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-28T16:41:13.000Z",
    "createdAt": "2026-06-28T16:41:08.839Z",
    "versionId": "cbee3480-2908-42ab-8ba9-2463bb153787",
    "workflowId": "ZbRaldRsY68GmpgJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cooking-master",
          "options": {}
        },
        "id": "node-01",
        "name": "Telegram Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          16,
          336
        ],
        "webhookId": "cooking-master"
      },
      {
        "parameters": {
          "jsCode": "\nconst body = $input.first().json.body ?? $input.first().json;\nconst text = String(body.message?.text ?? body.text ?? '').trim();\nconst chatId = String(body.message?.chat?.id ?? body.chat?.id ?? '-1003735970138');\n\nconst isUrl = /^https?:\\/\\//i.test(text);\nconst inputType = isUrl ? 'url' : 'dish_name';\n\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n}).formatToParts(now);\nconst dp = Object.fromEntries(parts.map(p => [p.type, p.value]));\nconst ms = String(now.getMilliseconds()).padStart(3,'0');\nconst scriptId = `cooking_${dp.year}-${dp.month}-${dp.day}T${dp.hour}-${dp.minute}-${dp.second}-${ms}Z`;\n\nreturn [{ json: { scriptId, inputType, inputValue: text, chatId } }];\n"
        },
        "id": "node-02",
        "name": "Parse Trigger Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          336
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Trigger Input').item.json.chatId }}",
          "text": "=\u2705 Rezept empfangen: {{ $('Parse Trigger Input').item.json.inputValue }}\n\nScript ID: {{ $('Parse Trigger Input').item.json.scriptId }}\nStarte Pipeline... (dauert ~10-15 Min)",
          "additionalFields": {}
        },
        "id": "node-03",
        "name": "Confirm Receipt",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          560,
          336
        ],
        "webhookId": "2164f017-bffd-4548-b55a-657716b9c680",
        "credentials": {
          "telegramApi": {
            "id": "XSt2NLTZQtZZSEYL",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const output = $input.first().json;\nconst recipeName = output.recipeName ?? output.recipe_name ?? 'Unser Rezept';\nconst s3Url = output.s3_url ?? '';\nconst scriptId = output.scriptId ?? '';\nreturn [{ json: { recipeName, s3Url, scriptId } }];"
        },
        "id": "node-09",
        "name": "Extract Recipe Name",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          304
        ]
      },
      {
        "parameters": {
          "chatId": "-1003735970138",
          "text": "=\ud83d\udcf1 Instagram Caption\n\n{{ $json.recipeName }} \u2013 so einfach und so lecker!\n\nSchritt f\u00fcr Schritt zeigen wir dir, wie du dieses Gericht zu Hause nachkochst. \ud83c\udf7d\ufe0f\n\n#cooking #foodie #rezept #kochen #foodvideo #homecooking #lecker #einfachkochen #deutschek\u00fcche #foodlover",
          "additionalFields": {}
        },
        "id": "node-10",
        "name": "Send Instagram Caption",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2528,
          112
        ],
        "webhookId": "1ee8d8f0-b23a-474f-8bd8-44303ec1ddc9",
        "credentials": {
          "telegramApi": {
            "id": "XSt2NLTZQtZZSEYL",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1003735970138",
          "text": "=\ud83c\udfb5 TikTok Caption\n\n{{ $json.recipeName }} in unter 90 Sekunden \ud83d\udd25\n\n#kochen #rezept #foodtok #viral #cooking #lecker #fyp #foryou #deutschtiktok",
          "additionalFields": {}
        },
        "id": "node-11",
        "name": "Send TikTok Caption",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2528,
          304
        ],
        "webhookId": "9e61fe41-70d5-4439-b6da-5b7a1e378630",
        "credentials": {
          "telegramApi": {
            "id": "XSt2NLTZQtZZSEYL",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1003735970138",
          "text": "=\u25b6\ufe0f YouTube Shorts Caption\n\n{{ $json.recipeName }} \u2013 Das schnellste Rezept der Woche!\n\n#Shorts #Kochen #Rezept #EinfachKochen #Foodie",
          "additionalFields": {}
        },
        "id": "node-12",
        "name": "Send YouTube Caption",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2528,
          512
        ],
        "webhookId": "86cb9159-970b-4430-81a5-cc3a67f26dc1",
        "credentials": {
          "telegramApi": {
            "id": "XSt2NLTZQtZZSEYL",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Extract Recipe Name').item.json.chatId ?? '-1003735970138' }}",
          "text": "=\u2705 Pipeline abgeschlossen!\n\n\ud83c\udfac {{ $('Extract Recipe Name').item.json.recipeName }}\n\ud83d\udce6 S3: {{ $('Extract Recipe Name').item.json.s3Url }}\n\ud83c\udd94 {{ $('Extract Recipe Name').item.json.scriptId }}",
          "additionalFields": {}
        },
        "id": "node-13",
        "name": "Pipeline Complete",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2800,
          304
        ],
        "webhookId": "3122d33f-ea3b-4ada-93da-888692374b4e",
        "credentials": {
          "telegramApi": {
            "id": "XSt2NLTZQtZZSEYL",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "B2BrjjbqFhUgeHZV",
            "mode": "list",
            "cachedResultUrl": "/workflow/B2BrjjbqFhUgeHZV",
            "cachedResultName": "Cooking \u2014 Recipe Intake"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          816,
          336
        ],
        "id": "a7508137-4a3f-4815-aad3-16e4d7576b92",
        "name": "Call 'Cooking \u2014 Recipe Intake'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9QSE0w8qgSWdlzSK",
            "mode": "list",
            "cachedResultUrl": "/workflow/9QSE0w8qgSWdlzSK",
            "cachedResultName": "Cooking \u2014 Drehbuch Generator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1024,
          320
        ],
        "id": "3ec4d1b1-2c97-4f29-bc1a-a57784c050d0",
        "name": "Call 'Cooking \u2014 Drehbuch Generator'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "M6FzHQY3YG7zxjjC",
            "mode": "list",
            "cachedResultUrl": "/workflow/M6FzHQY3YG7zxjjC",
            "cachedResultName": "Cooking \u2014 Voice and Image Generator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1232,
          320
        ],
        "id": "ee5166a5-69cd-4680-a291-3e4c89f60bcd",
        "name": "Call 'Cooking \u2014 Voice and Image Generator'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "yndJdfRoRIJbvTLC",
            "mode": "list",
            "cachedResultUrl": "/workflow/yndJdfRoRIJbvTLC",
            "cachedResultName": "Cooking \u2014 Kling AI Animator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          320
        ],
        "id": "7c5265bb-59d7-445e-921a-aaa8ac41b10b",
        "name": "Call 'Cooking \u2014 Kling AI Animator'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "YRKcfHEK5qcZ3wUO",
            "mode": "list",
            "cachedResultUrl": "/workflow/YRKcfHEK5qcZ3wUO",
            "cachedResultName": "Cooking \u2014 Video Renderer"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1856,
          304
        ],
        "id": "a1cd064b-87b3-4c40-bbbd-ff565dbe2a46",
        "name": "Call 'Cooking \u2014 Video Renderer'"
      }
    ],
    "connections": {
      "Telegram Webhook": {
        "main": [
          [
            {
              "node": "Parse Trigger Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Trigger Input": {
        "main": [
          [
            {
              "node": "Confirm Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirm Receipt": {
        "main": [
          [
            {
              "node": "Call 'Cooking \u2014 Recipe Intake'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Recipe Name": {
        "main": [
          [
            {
              "node": "Send Instagram Caption",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send TikTok Caption",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send YouTube Caption",
              "type": "main",
              "index": 0
            },
            {
              "node": "Pipeline Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Instagram Caption": {
        "main": [
          [
            {
              "node": "Pipeline Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send TikTok Caption": {
        "main": [
          [
            {
              "node": "Pipeline Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send YouTube Caption": {
        "main": [
          [
            {
              "node": "Pipeline Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Cooking \u2014 Recipe Intake'": {
        "main": [
          [
            {
              "node": "Call 'Cooking \u2014 Drehbuch Generator'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Cooking \u2014 Drehbuch Generator'": {
        "main": [
          [
            {
              "node": "Call 'Cooking \u2014 Voice and Image Generator'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Cooking \u2014 Voice and Image Generator'": {
        "main": [
          [
            {
              "node": "Call 'Cooking \u2014 Kling AI Animator'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Cooking \u2014 Kling AI Animator'": {
        "main": [
          []
        ]
      },
      "Call 'Cooking \u2014 Video Renderer'": {
        "main": [
          [
            {
              "node": "Extract Recipe Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Tamir Mubarak",
    "name": "Version cbee3480",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-28T16:41:13.401Z",
        "id": 183,
        "workflowId": "ZbRaldRsY68GmpgJ",
        "versionId": "cbee3480-2908-42ab-8ba9-2463bb153787",
        "event": "activated",
        "userId": "cb94183f-eb2d-4fa9-b635-cd943ba64ddc"
      }
    ]
  }
}