Voice and Image Generator.json
{
    "updatedAt": "2026-06-28T14:52:50.766Z",
    "createdAt": "2026-02-11T17:19:07.040Z",
    "id": "1nuI2fuS22Cq5w81",
    "name": "Voice and Image Generator",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voiceId }}/with-timestamps",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xi-api-key",
                            "value": "sk_80d2398d43bbb43af96129c5f383f41623822823576c5bd9"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"text\": \"{{ $json.clip_text }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.6,\n    \"similarity_boost\": 0.8\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1008,
                48
            ],
            "id": "23612348-ef69-4446-ab07-27dde4c6f40b",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "jsCode": "// ==========================================\n// Subflow Code Node \u2013 INPUT ADAPTED VERSION\n// Run Once for All Items\n// ==========================================\n\nconst inputs = $input.all().map(i => i.json);\n\n// ------------------------------------------\n// 1) scriptId holen\n// ------------------------------------------\nconst scriptId = inputs.find(i => i.scriptId)?.scriptId;\n\nif (!scriptId) {\n  throw new Error(\n    \"scriptId missing. It must be created in the master workflow (format: reel_YYYY-MM-DDTHH-MM-SS-SSSZ).\"\n  );\n}\n\n// ------------------------------------------\n// 2) Clips sammeln\n// ------------------------------------------\nlet rawClips = [];\n\nfor (const it of inputs) {\n  if (Array.isArray(it.clips)) {\n    rawClips.push(...it.clips);\n  }\n}\n\n// ------------------------------------------\n// 3) Clips normalisieren (Input Mapping)\n// ------------------------------------------\nconst normalizedClips = rawClips.map(c => ({\n  news_type:\n    c?.type === \"market_overview\"\n      ? \"market_snapshot\"\n      : c?.type ?? \"news\",\n\n  clip_text:\n    c?.voiceover ??\n    c?.clip_text ??\n    c?.text ??\n    null,\n\n  image_prompt: c?.image_prompt ?? null,\n}));\n\n// ------------------------------------------\n// 4) Finale Liste bauen\n// ------------------------------------------\nlet finalClips = [];\n\nfor (const c of normalizedClips) {\n  if (c.clip_text) {\n    finalClips.push(c);\n  }\n}\n\n// ------------------------------------------\n// 5) Auf exakt 6 Clips bringen\n// ------------------------------------------\nwhile (finalClips.length < 6) {\n  finalClips.push({\n    news_type: \"outro\",\n    clip_text: \"That\u2019s it for today\u2014follow for the next crypto update.\",\n    image_prompt: finalClips[0]?.image_prompt ?? null,\n  });\n}\n\n// Falls mehr als 6 \u2192 schneiden\nfinalClips = finalClips.slice(0, 6);\n\n// ------------------------------------------\n// 6) ElevenLabs Config\n// ------------------------------------------\nconst VOICE_NAME = \"main_voice\";\n\n// ------------------------------------------\n// 7) Return exakt 6 Items\n// ------------------------------------------\nreturn finalClips.map((c, i) => ({\n  json: {\n    scriptId,\n    clipIndex: i,\n    news_type: c.news_type,\n    clip_text: c.clip_text,\n    image_prompt: c.image_prompt,\n    voiceId: VOICE_ID,\n    voiceName: VOICE_NAME,\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                32
            ],
            "id": "1b56c0bf-3b79-4741-8f9d-e35cfb6ec832",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                528,
                32
            ],
            "id": "92ce2b88-a4e6-4074-aa5a-c3858b4c42ce",
            "name": "Loop Over Items"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "reels-voiceovers",
                "fileName": "={{ $('FileKey Audio').item.json.audioKey }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.s3",
            "typeVersion": 1,
            "position": [
                1424,
                48
            ],
            "id": "ebf7e14b-c2a1-4473-b9bc-a10d921c754f",
            "name": "Upload a file",
            "credentials": {
                "s3": {
                    "id": "ARZEQMSLdWqjXadc",
                    "name": "S3 account 2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "0f8be7d2-0e00-45da-bcb2-c00402c1640c",
                            "name": "scriptId",
                            "value": "={{ $('FileKey Audio').item.json.scriptId }}",
                            "type": "string"
                        },
                        {
                            "id": "3531df61-c6e2-455e-9211-dec7699e4084",
                            "name": "clipIndex",
                            "value": "={{ $('FileKey Audio').item.json.clipIndex }}",
                            "type": "string"
                        },
                        {
                            "id": "7d5ad0e9-3741-4fb0-8a2e-ca38a2a458ec",
                            "name": "news_type",
                            "value": "={{ $('FileKey Audio').item.json.news_type }}",
                            "type": "string"
                        },
                        {
                            "id": "82b05188-efa5-4be6-9302-4fa2ef183ba4",
                            "name": "fileKey",
                            "value": "={{ $('FileKey Audio').item.json.audioKey }}",
                            "type": "string"
                        },
                        {
                            "id": "34f226f8-0979-465d-a6d6-0f9f4f1bbfc5",
                            "name": "duration_seconds",
                            "value": "={{ $('Code in JavaScript1').item.json.duration_seconds }}",
                            "type": "number"
                        },
                        {
                            "id": "edc8793a-be4c-420e-a574-6a0e3c60b427",
                            "name": "clip_text",
                            "value": "={{ $('FileKey Audio').item.json.clip_text }}",
                            "type": "string"
                        },
                        {
                            "id": "8775e3a4-2251-420b-8e2d-7748c3623ac7",
                            "name": "image_prompt",
                            "value": "={{ $('FileKey Audio').item.json.image_prompt }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1600,
                48
            ],
            "id": "55be48c2-e6ad-4dd3-8168-166b0809f4f6",
            "name": "cleanup"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ba128aa4-2473-4727-8649-af2f6ae4d4ac",
                            "name": "audioUrl",
                            "value": "=https://pub-b9cab7c4281d4ca4948989323fa68b5d.r2.dev/{{ $json.fileKey }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1808,
                48
            ],
            "id": "42327709-5ce4-4ae9-8f3b-c3aa05194531",
            "name": "audioUrl"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                240,
                496
            ],
            "id": "840451a0-83a8-4694-bd97-ed643aff3153",
            "name": "Loop Over Items1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/images/generations",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-image-1"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $('Code in JavaScript').item.json.image_prompt }}"
                        },
                        {
                            "name": "size",
                            "value": "1024x1536"
                        },
                        {
                            "name": "output_format",
                            "value": "png"
                        },
                        {
                            "name": "quality",
                            "value": "medium"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                704,
                512
            ],
            "id": "90e1eb2c-c0cd-4809-ae56-9050c9791019",
            "name": "HTTP Request2",
            "credentials": {
                "openAiApi": {
                    "id": "v5ycd3YeDhUfrhQ2",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "fcb0212f-50f5-427e-9ed8-1f7ab968b5c2",
                            "name": "b64",
                            "value": "={{$json.data[0].b64_json}}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1216,
                512
            ],
            "id": "7a024529-cb52-4798-9ce6-d0844f3a5b5e",
            "name": "Edit Fields1"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "b64",
                "options": {
                    "fileName": "={{ $('FileKey Image').item.json.imageKey }}"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                1392,
                512
            ],
            "id": "de7fd422-acbf-4d91-94ba-0ebb690f3762",
            "name": "Convert to File"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "reels-voiceovers",
                "fileName": "={{ $('FileKey Image').item.json.imageKey }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.s3",
            "typeVersion": 1,
            "position": [
                1584,
                512
            ],
            "id": "70b527c4-0ce1-4683-a2e2-c0da1ac35696",
            "name": "Upload a file1",
            "credentials": {
                "s3": {
                    "id": "ARZEQMSLdWqjXadc",
                    "name": "S3 account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const crypto = require(\"crypto\");\n\nif (!$json.scriptId) {\n  throw new Error(\"scriptId fehlt\");\n}\n\nconst scriptId = $json.scriptId;\nconst clipIndex = $json.clipIndex ?? 0;\nconst news_type = $json.news_type ?? \"clip\";\nconst image_prompt = $json.image_prompt ?? \"no_prompt\";\n\nconst imageHash = crypto.createHash(\"sha256\")\n  .update(JSON.stringify({ image_prompt }))\n  .digest(\"hex\")\n  .slice(0, 12);\n\nconst safeType = news_type\n  .replace(/[^a-z0-9_]+/gi, \"_\")\n  .toLowerCase();\n\nconst imageKey = `reels/${scriptId}/image/clip_${String(clipIndex).padStart(2,\"0\")}_${safeType}__${imageHash}.png`;\n\nreturn [{\n  json: {\n    ...$json,\n    imageHash,\n    imageKey\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                512
            ],
            "id": "6935bda1-42e8-4811-8c2b-63aafe841493",
            "name": "FileKey Image"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                912,
                512
            ],
            "id": "fa921be7-e3bd-4f63-b4eb-9294bcd48c67",
            "name": "Wait",
            "webhookId": "ebab45af-a9e4-45f5-ac3e-99e1f93739cb"
        },
        {
            "parameters": {
                "jsCode": "const crypto = require(\"crypto\");\n\nif (!$json.scriptId) {\n  throw new Error(\"scriptId fehlt\");\n}\n\nconst scriptId = $json.scriptId;\nconst clipIndex = $json.clipIndex ?? 0;\nconst news_type = $json.news_type ?? \"clip\";\nconst clip_text = $json.clip_text ?? \"\";\nconst voiceId = $json.voiceId ?? \"\";\n\nconst audioHash = crypto.createHash(\"sha256\")\n  .update(JSON.stringify({ clip_text, voiceId }))\n  .digest(\"hex\")\n  .slice(0, 12);\n\nconst safeType = news_type\n  .replace(/[^a-z0-9_]+/gi, \"_\")\n  .toLowerCase();\n\nconst audioKey = `reels/${scriptId}/audio/clip_${String(clipIndex).padStart(2,\"0\")}_${safeType}__${audioHash}.mp3`;\n\nreturn [{\n  json: {\n    ...$json,\n    audioHash,\n    audioKey\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                816,
                48
            ],
            "id": "6ef99099-4104-4238-bc9f-4b8d9befabee",
            "name": "FileKey Audio"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "0f8be7d2-0e00-45da-bcb2-c00402c1640c",
                            "name": "scriptId",
                            "value": "={{ $('FileKey Image').item.json.scriptId }}",
                            "type": "string"
                        },
                        {
                            "id": "3531df61-c6e2-455e-9211-dec7699e4084",
                            "name": "clipIndex",
                            "value": "={{ $('FileKey Image').item.json.clipIndex }}",
                            "type": "string"
                        },
                        {
                            "id": "7d5ad0e9-3741-4fb0-8a2e-ca38a2a458ec",
                            "name": "news_type",
                            "value": "={{ $('FileKey Image').item.json.news_type }}",
                            "type": "string"
                        },
                        {
                            "id": "82b05188-efa5-4be6-9302-4fa2ef183ba4",
                            "name": "imagefileKey",
                            "value": "={{ $('FileKey Image').item.json.imageKey }}",
                            "type": "string"
                        },
                        {
                            "id": "edc8793a-be4c-420e-a574-6a0e3c60b427",
                            "name": "clip_text",
                            "value": "={{ $('FileKey Image').item.json.clip_text }}",
                            "type": "string"
                        },
                        {
                            "id": "8775e3a4-2251-420b-8e2d-7748c3623ac7",
                            "name": "image_prompt",
                            "value": "={{ $('FileKey Image').item.json.image_prompt }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1744,
                512
            ],
            "id": "1c1fd794-e1ad-4a33-841b-3f0dd9c7db2f",
            "name": "cleanup1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ba128aa4-2473-4727-8649-af2f6ae4d4ac",
                            "name": "imageUrl",
                            "value": "=https://pub-b9cab7c4281d4ca4948989323fa68b5d.r2.dev/{{ $json.imagefileKey }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1904,
                512
            ],
            "id": "d6732ecd-cf08-47d5-af37-4c6d54933251",
            "name": "imageURL"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all().map(i => i.json).sort((a,b)=>a.clipIndex-b.clipIndex);\n\nreturn [{\n  json: {\n    scriptId: items[0]?.scriptId,\n    output: {\n      clips: items.map(it => ({\n        clipIndex: it.clipIndex,\n        news_type: it.news_type,\n        audioUrl: it.audioUrl,\n        fileKey: it.fileKey,\n        clip_text: it.voiceover_text || it.clip_text,\n        image_prompt: it.image_prompt,\n        duration_seconds: it.duration_seconds,\n      }))\n    }\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1376,
                -400
            ],
            "id": "ac35daab-4047-4cdd-a626-19a200bc5788",
            "name": "Audio"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all().map(i => i.json).sort((a,b)=>a.clipIndex-b.clipIndex);\n\nreturn [{\n  json: {\n    scriptId: items[0]?.scriptId,\n    output: {\n      clips: items.map(it => ({\n        clipIndex: it.clipIndex,\n        news_type: it.news_type,\n        imageUrl: it.imageUrl,\n        imagefileKey: it.imagefileKey,\n        clip_text: it.voiceover_text || it.clip_text,\n        image_prompt: it.image_prompt,\n      }))\n    }\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1744,
                304
            ],
            "id": "4208bb4c-9803-45c0-bb5c-8fe22067a873",
            "name": "Image"
        },
        {
            "parameters": {
                "fieldToSplitOut": "output.clips",
                "include": "selectedOtherFields",
                "fieldsToInclude": "scriptId",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                1584,
                -400
            ],
            "id": "c1f3a0c7-7fae-417c-a150-7275f073b9c8",
            "name": "Split Audio Clips"
        },
        {
            "parameters": {
                "fieldToSplitOut": "output.clips",
                "include": "selectedOtherFields",
                "fieldsToInclude": "scriptId",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                1952,
                304
            ],
            "id": "f88ed060-151a-4a6c-91f5-177cc57e5ec9",
            "name": "Split Image Clips"
        },
        {
            "parameters": {
                "mode": "combine",
                "fieldsToMatchString": "clipIndex",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                2608,
                96
            ],
            "id": "7e22729b-e0a8-456f-83c8-e62860a0eed7",
            "name": "Merge",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "2a32ed97-d724-480d-84ff-13ae086b5019",
                            "name": "clipIndex",
                            "value": "={{ $json[\"output.clips\"].clipIndex }}",
                            "type": "string"
                        },
                        {
                            "id": "c6ff8639-b0bc-4db2-9d99-810e08e5b7fa",
                            "name": "audio_url",
                            "value": "={{ $json[\"output.clips\"].audioUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "ba715997-c957-4ab9-8a0e-64c322f1c657",
                            "name": "voiceover_text",
                            "value": "={{ $json[\"output.clips\"].clip_text }}",
                            "type": "string"
                        },
                        {
                            "id": "9145ad02-908c-4499-8c57-6553e173b931",
                            "name": "scriptId",
                            "value": "={{ $json.scriptId }}",
                            "type": "string"
                        },
                        {
                            "id": "9a2e73f2-1d4f-491b-badc-a388826e6e09",
                            "name": "duration",
                            "value": "={{ $json[\"output.clips\"].duration_seconds }}",
                            "type": "number"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1808,
                -400
            ],
            "id": "301a49e0-385b-415a-8810-995f2f18ecd0",
            "name": "Edit Audio"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d60a245f-cff6-446f-90c4-d0340e81b236",
                            "name": "clipIndex",
                            "value": "={{ $json[\"output.clips\"].clipIndex }}",
                            "type": "string"
                        },
                        {
                            "id": "9ea7b3b5-b4e4-4203-9c40-839475baf138",
                            "name": "image_url",
                            "value": "={{ $json[\"output.clips\"].imageUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "5eca8877-56b1-49f8-80d3-cda5c3ec8cca",
                            "name": "scriptId",
                            "value": "={{ $json.scriptId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2160,
                304
            ],
            "id": "ae1778b4-90c4-4bec-b3aa-c327a93e58e6",
            "name": "Edit Image"
        },
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                -272,
                32
            ],
            "id": "b12efb5f-708d-45ff-b9c7-d788219f9be9",
            "name": "When Executed by Another Workflow"
        },
        {
            "parameters": {
                "jsCode": "const base64 = $input.item.json.audio_base64;\n\n// Dauer auslesen\nconst endTimes = $input.item.json.alignment.character_end_times_seconds;\nconst duration = endTimes[endTimes.length - 1] + 0.4;\n\n// Base64 \u2192 Binary\nconst binaryBuffer = Buffer.from(base64, 'base64');\n\nreturn {\n  json: {\n    duration_seconds: duration\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      binaryBuffer,\n      'audio.mp3',\n      'audio/mpeg'\n    )\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1232,
                48
            ],
            "id": "f8c75ac6-2a78-49b9-ba33-26405be73dd3",
            "name": "Code in JavaScript1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "6f2d3fa6-2450-4290-941f-c76f0b93764b",
                            "name": "voiceId",
                            "value": "=TUKJhQmz3RPYBNAgC5A1",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                208,
                32
            ],
            "id": "fb8f091f-76d5-47a8-b645-637fab429650",
            "name": "Voice ID"
        }
    ],
    "connections": {
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Voice ID",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [
                    {
                        "node": "Audio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FileKey Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload a file": {
            "main": [
                [
                    {
                        "node": "cleanup",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "cleanup": {
            "main": [
                [
                    {
                        "node": "audioUrl",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "audioUrl": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items1": {
            "main": [
                [
                    {
                        "node": "Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FileKey Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request2": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields1": {
            "main": [
                [
                    {
                        "node": "Convert to File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File": {
            "main": [
                [
                    {
                        "node": "Upload a file1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FileKey Image": {
            "main": [
                [
                    {
                        "node": "HTTP Request2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FileKey Audio": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload a file1": {
            "main": [
                [
                    {
                        "node": "cleanup1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "cleanup1": {
            "main": [
                [
                    {
                        "node": "imageURL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "imageURL": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audio": {
            "main": [
                [
                    {
                        "node": "Split Audio Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Image": {
            "main": [
                [
                    {
                        "node": "Split Image Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Audio Clips": {
            "main": [
                [
                    {
                        "node": "Edit Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Image Clips": {
            "main": [
                [
                    {
                        "node": "Edit Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Audio": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Image": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                []
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript1": {
            "main": [
                [
                    {
                        "node": "Upload a file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Voice ID": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "c8b9e83b-72d4-4772-8a67-72ef2974a3b8",
    "activeVersionId": null,
    "versionCounter": 336,
    "triggerCount": 0,
    "sourceWorkflowId": null,
    "shared": [
        {
            "updatedAt": "2026-03-16T20:06:22.246Z",
            "createdAt": "2026-03-16T20:06:22.246Z",
            "role": "workflow:owner",
            "workflowId": "1nuI2fuS22Cq5w81",
            "projectId": "6ORlgmLXWvR008RF",
            "project": {
                "updatedAt": "2026-01-23T18:53:25.000Z",
                "createdAt": "2026-01-23T18:50:27.846Z",
                "id": "6ORlgmLXWvR008RF",
                "name": "News",
                "type": "team",
                "icon": {
                    "type": "icon",
                    "value": "layers"
                },
                "description": "",
                "customTelemetryTags": [],
                "creatorId": null
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
